*{
    background-color: bisque;
    }
    .Search-bar{
     margin-bottom: 10px;
    }
    
    button{
        margin-top: 10px;
    }
    table{
        background-color: black;
    }
    h1{
        background-color: wheat;
        padding-left: 300px;
    }
  #transaction-form{
   margin-bottom: 20px;
  }